:root {
    /* --text-color: #ff0000; */
    /* --background-color: #000000; */
    --border-color: #000000;
    --border-radius: 0.25rem;
    --box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    --transition: 0.3s;
}

body { 
  background-color: var(--background-color); 
}
  
h1 {
    font-family: 'FarAwayGalaxy', sans-serif;
    color: var(--text-color);
    font-size: 2.5rem;
    text-align: center;
    margin-top: 2rem;
}